* {
    font-family: "Raleway", sans-serif;
}

.navbar {
    background-color: #265073;
}

body {
    background-color: #9ad0c2;
}

.imagen {
    width: 60%;
}

@media (max-width: 768px) {
    .imagen {
        width: 100%;
    }
}

#find {
    width: 100%;
}

@media (min-width: 768px) {
    #find {
        width: 50%;
    }
}

#btnVer {
    height: 35px;
    background-color: #3386a0;
    color: white;
}

.infoSuperheroes {
    width: 100%;
}

#chartContainer {
    width: 100%;
}

@media (min-width: 992px) {
    .infoSuperheroes {
        width: 85%;
    }
    #chartContainer {
        width: 85%;
    }
}

@media (min-width: 768px) {
    .table {
        width: 50%;
    }
}

footer {
    background-color: #265073;
    color: white;
}
